
  <div class="form_group col-12">
    <%= f.label:"タイトル", class: "col-sm-3" %>
    <%= f.text_field :title, :placeholder => "料理名", class: "form-control col-sm-9"  %>
  </div>
  <div class="form_group col-12">
      <%= f.label:"材料", class: "col-sm-3" %>
      <%= f.text_area :ingredient, :size => "10x5", :placeholder => "食材", class: "form-control col-sm-9" %>
  </div>
  <div class="form_group col-12">
    <%= f.label:"作り方", class: "col-sm-3" %>
    <%= f.text_area :post_introduction, :size => "10x5", :placeholder => "ポイント", class: "form-control col-sm-9" %>
  </div>

