<% post_recipes.each do |post_recipe| %>
  <div class="col-12 col-sm-12 col-md-10 col-lg-4 mt-5">
    <%= link_to post_recipe_path(post_recipe.id) do %>
    <div class="card md-3">
      <div class="card-body">
        <%= attachment_image_tag post_recipe, :image ,format: 'jpeg', fallback: "no_image.jpg", class: "bd-placeholder-img card-img-top", size: "200x200" %>
        <%= post_recipe.title %>
        <p><%= post_recipe.genre.name %><br />
          <span class="favorite_heart">♥</span><%= post_recipe.favorites.count %>
          コメント<%= post_recipe.post_comments.count %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

