<div class="row">
  <div class="col-md-3 col-xs-12 offset-md-1">
    <h2>投稿情報編集</h2>
    <p id="notice" class="text-success"><%= flash[:notice] %></p>
  </div>
</div>

<div class="col-md-12 col-xs-12 offset-md-1">
  <%= form_with model:@post_recipe, url:post_recipe_path, local:true  do |f| %>
    <%= render "layouts/error_messages", model: @post_recipe %>
      <div>
        <p class="recipe_img"><%= attachment_image_tag @post_recipe, :image, fallback: "no_image.jpg", size: "100x100"%></p>
        <%= f.attachment_field :image, placeholder: "画像" %>
      </div>
      <table class="table table-bordered table-condensed">
        <tr>
          <th><%= f.label:"タイトル" %></th>
          <td><%= f.text_field :title, autofoucus: true %></td>
        </tr>
        <tr>
          <th><%= f.label:"ジャンル" %></th>
          <td><%= f.collection_select(:genre_id, @genres, :id, :name) %></td>
        </tr>
        <tr>
          <th><%= f.label:"材料" %></th>
          <td><%= f.text_area :ingredient, autofoucus: true %></td>
        </tr>
        <tr>
          <th><%= f.label:"作り方" %></th>
          <td><%= f.text_area :post_introduction, autofoucus: true %></td>
        </tr>
      </table>

      <div class="acctions col-xs-10 col-xs-offset-2">
        <%= f.submit "変更する", class:"btn btn-success"%>
      </div>
  <% end %>
</div>