<div class="row rounded bg-light">
  <div class="col-12 col-md-10 col-lg-10 col-xs-5 offset-md-1">
    <% breadcrumb :post_recipes %>
    <%= breadcrumbs separator: ">" , class:"pankuzu_list" %>
    <h2>投稿一覧</h2>
    <div class="search_form col-xs-5 mx-auto">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <div class="input-group">
          <%= f.text_field :keyword, value: @keyword, :placeholder => "検索" ,class:"form-control input-group-prepend" %>
          <span id="btn-search" class="input-group-btn input-group-append">
            <%= f.submit "検索", class:"btn btn-primary"%>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row rounded bg-light">
  <%= render 'post_recipes/post_recipes', post_recipes: @post_recipes %>
</div>
<%= paginate @post_recipes %>

