<div class="row">
  <div class="col-md-10 col-xs-12 offset-md-1">
    <h2>投稿する</h2>
    <p id ="notice" class="text-success" ><%= flash[:notice] %></p>
      <%= form_with model:@post_recipe, url:post_recipes_path, local:true do |f| %>
      <%= render "layouts/error_messages", model: @post_recipe %>
        <div class="col-xs-4">
          <div class="form_group col-md-10">
            <%= f.label:"画像", class: "col-sm-3" %>
            <%= f.attachment_field :image, class: "col-sm-9" %>
          </div>
        </div>
        <div class=" col-xs-6">
          <div class="form_group col-md-10">
            <%= f.label:"難易度", class: "col-sm-3" %><br />
            <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --", class: "col-sm-7") %>
          </div>
          <div class="form_group col-md-10">
            <%= f.label:"タイトル", class: "col-sm-3" %>
            <%= f.text_field :title, class: "col-sm-9"  %>
          </div>
          <div class="form_group col-md-10">
            <%= f.label:"材料", class: "col-sm-3" %>
            <%= f.text_area :ingredient, :size => "10x5", class: "col-sm-9" %>
          </div>
          <div class="form_group col-md-10">
            <%= f.label:"作り方", class: "col-sm-3" %>
            <%= f.text_area :post_introduction, :size => "10x5", class: "col-sm-9" %>
          </div>
          <div class="form_group col-md-10">
            <%= f.submit "投稿する", class:"btn btn-success" %>
          </div>
        </div>
    <% end %>
  </div>
</div>