<div class="row">
  <% breadcrumb :user_session %>
  <%= breadcrumbs separator: ">" , class:"pankuzu_list" %>
  <div class="col-12 col-md-10  col-lg-10 col-xs-5 offset-md-1">
    <h2>ログイン</h2>

    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <div class="field">
        <%= f.label :"メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-sm-9" %>
      </div>

      <div class="field">
        <%= f.label :"パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-sm-9" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="field mt-3">
        <p>
          テストユーザー: test@w.com<br />
          パスワード: testpas
        </p>
      </div>

      <div class="form_group">
        <%= f.submit "ログイン", class:"btn btn-success" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>