<div class="col-md-10 col-xs-4 offset-md-1">
    <h4>いいねした投稿</h4>
  </div>
<div class="row">
  <% current_user.favorites.each do |favorite| %>
    <div class="col-12 col-md-8 col-lg-4">
      <div class="card md-3">
        <div class="card-body">
          <%= link_to post_recipe_path(favorite.post_recipe.id) do %>
          <%= attachment_image_tag favorite.post_recipe, :image ,format: 'jpeg',class: "bd-placeholder-img card-img-top", size: "200x200" %>
            <%= favorite.post_recipe.title %>
          <% end %>
          <p>
            <%= favorite.post_recipe.genre.name %><br />
            <span class="favorite_heart">♥</span><%= favorite.post_recipe.favorites.count %>
            コメント<%= favorite.post_recipe.post_comments.count %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>