<div class="row">
  <div class="col-md-10 col-xs-10 col-lg-10 offset-md-1">
    <h2>マイページ</h2>
    <p id="notice" class="text-success"><%= flash[:notice] %></p>
    <div class="mypage_img"><%= attachment_image_tag @user, :account_image, fallback: "no_image.jpg", size: "100x100"%></div>
    <table class="table table-bordered table-condensed">
      <tr>
        <th>名前</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>自己紹介文</th>
        <td><%= @user.introduction %></td>
      </tr>
    </table>
    <div class="form_group">
      <%= link_to "編集する", edit_user_path, class:"btn btn-primary" %>
      <%= link_to favorite_lists_users_path(@user), class:"btn btn-success" do %>
        いいねした投稿
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <% @post_recipes.each do |post_recipe| %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card md-3">
        <div class="card-body">
          <%= link_to post_recipe_path(post_recipe.id) do %>
          <%= attachment_image_tag post_recipe, :image ,format: 'jpeg',class: "bd-placeholder-img card-img-top", size: "200x200" %>
            <%= post_recipe.title %>
          <% end %>
          <p>
            <%= post_recipe.genre.name %><br />
            <span class="favorite_heart">♥</span><%= post_recipe.favorites.count %>
            コメント<%= post_recipe.post_comments.count %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>




