<div class="row border rounded bg-light">
  <div class="col-12 col-md-12 col-xs-5 col-lg-12">
    <h2><%= @user.name %>さん</h2>
    <p id="notice" class="text-success"><%= flash[:notice] %></p>
  </div>
  <div class="col-8 col-sm-6 col-md-5 col-lg-2 col-xs-5 img-fluid">
    <div class="mypage_img img-fluid"><%= attachment_image_tag @user, :account_image, fallback: "no_image.jpg", size: "200x200" %></div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xs-5 ">
    <table class="table table-condensed account">
      <tr>
        <th>名前</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>自己紹介文</th>
        <td><%= @user.introduction %></td>
      </tr>
      <tr>
        <th>ご利用開始日</th>
        <td><%= @user.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
    </table>

    <div class="col-xs-5">
      <% if user_signed_in? %>
        <%= link_to "編集する", edit_user_path, class:"btn btn-primary" %>
        <%= link_to favorite_lists_users_path(@user), class:"btn btn-success" do %>
          いいねした投稿
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-10 col-md-12 col-xs-5">
    <% if @post_recipes.present? %>
    <h4>投稿一覧</h4>
    <% end %>
  </div>
  <%= render 'post_recipes/post_recipes', post_recipes: @post_recipes %>
</div>