<div class="row">
  <div class="col-md-12 col-xs-12 offset-md-1">
    <h2>マイページ</h2>
    <p id="notice" class="text-success"><%= flash[:notice] %></p>
    <div><%= attachment_image_tag @user, :account_image, fallback: "no_image.jpg", size: "100x100"%></div>
    <table class="table table-bordered table-condensed">
      <tr>
        <th>名前</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>自己紹介文</th>
        <td><%= @user.introduction %></td>
      </tr>
      <tr>
        <td><%= link_to "編集する", edit_user_path %></td>
        <td>いいねした投稿</td>
      </tr>
    </table>
  </div>
</div>