<div class="row">
  <div class="col-12 col-md-12 col-lg-10 col-xs-5 offset-md-1">
    <h2>ジャンル編集</h2>
    <div class=" col-xs-5">
      <%= form_with model:@genre, url:admin_genre_path, local:true do |f| %>
      <%= render "layouts/error_messages", model: @genre %>
        <div class="input-group">
          <%= f.text_field :name, :placeholder => "ジャンル", class: "form-control col-9 col-md-10 col-lg-10" %>
          <span id="btn-search" class="input-group-btn input-group-append">
            <%= f.submit "変更する", class:"btn btn-success"%>
          </span>
        </div>
      <% end %>
    </div>
    <div class="form_group0">
        <%= link_to "削除する", admin_genre_path(@genre), class:"btn btn-danger", method: :delete, "data-confirm"=>"削除しますか？" %>
      </div>
  </div>
</div>