<div class="row">
  <div class="col-12 col-md-12 col-lg-10 col-xs-5 offset-md-1">
    <h2>ジャンル一覧・追加</h2>
    <div class="col-xs-5 mx-auto">
      <%= form_with model:@genre, url:admin_genres_path, local:true do |f| %>
      <%= render "layouts/error_messages", model: @genre %>
        <div class="input-group">
          <%= f.text_field :name, :placeholder => "ジャンル", class: "form-control col-9 col-md-10 col-lg-10" %>
          <span id="btn-search" class="input-group-btn input-group-append">
            <%= f.submit "追加", class:"btn btn-success"%>
          </span>
        </div>
      <% end %>
    </div>

    <table class="table bg-white">
      <thead>
        <tr>
          <th>ジャンル</th>
          <th></th>
        </tr>
      </thead>
      <% @genres.each do |genre| %>
        <tbody>
          <tr>
            <td><%= genre.name %></td>
            <td><%= link_to "編集", edit_admin_genre_path(genre.id) %></td>
          </tr>
        </tbody>
      <% end%>
    </table>
  </div>
</div>