<div class="row">
  <div class="col-12 col-md-10 col-lg-8 col-xs-5">
    <div class="example ">
      <div class="slide">
        <div class="slide_list"><%= image_tag 'about.jpg', class: 'slide_img icon img-fluid' %></div>
        <div class="slide_list"><%= image_tag 'about02.jpg', class: 'slide_img icon img-fluid' %></div>
        <div class="slide_list"><%= image_tag 'pumpkin.jpg', class: 'slide_img icon img-fluid' %></div>
        <div class="slide_list"><%= image_tag 'pumpkin.jpg', class: 'slide_img icon img-fluid' %></div>
        <div class="slide_list"><%= image_tag 'friend_rice.jpg', class: 'slide_img icon img-fluid' %></div>
      </div>
      <p>ようこそRecipeLogへ</p>
    </div>
  </div>
  <div class="col-12 col-md-10 col-lg-8 col-xs-10 bg-light">
    <div class="col-xs-5">
      <% breadcrumb :homes_about%>
      <%= breadcrumbs separator: ">", class:"pankuzu_list"%>
      <h2 class="mt-2">About</h2>
      <div class="about_text p-3 col-xs-5 mt-2">
        <p>
          本サイトでは料理のレシピの投稿と他者の投稿閲覧が目的です。
          初心者でも作れるような料理レシピの発信 このサイトを読むことで簡単な食事メニューを参考にすることができます。
          コロナ禍により外出が減り、自宅で食事をする頻度が増加しているため現在の世の中に需要があると考えたため
          いつでも料理レシピの発信と確認ができる投稿サイトを作成しました。
        </p>
      </div>
      <div class="about_text p-3 col-xs-5 mt-2 border-top">
        <h5><i class="fa fa-file" aria-hidden="true"></i> 使い方・ログイン機能</h5>
        <p>
          <span>アカウント名、メールアドレス、パスワードを入力していただけるとユーザー登録出来ます。</span>
            新規ユーザー登録して頂くと投稿とコメント・いいねができます。
            ログインしなくても投稿の詳細は閲覧できます。
            投稿編集および削除は投稿したアカウントのみになります。
        </p>
        <h5><i class="fa fa-file" aria-hidden="true"></i> 投稿機能機能</h5>
        <p>
          <span>新規登録して頂くと、投稿機能がご利用可能になります。</span>
          投稿の際はフォームにてタイトル、難易度、調理時間、材料、作り方を入力頂くと投稿できます。
          また、タイトルは2文字以上などの文字数の制限があります。
        </p>
      </div>
    </div>
  </div>
</div>


