<div class="row">
  <div class="col-12 col-md-10 col-lg-10 col-xs-5 offset-md-1">
    <h2>投稿一覧</h2>
    <p id ="notice" class="text-success"><%= flash[:notice] %></p>
    <div class="search_form col-xs-5 mx-auto">
      <%= form_with url: admin_retrieval_path, method: :get, local: true do |f| %>
        <div class="input-group">
          <%= f.text_field :keyword, value: @keyword, :placeholder => "検索" ,class:"form-control input-group-prepend" %>
          <span id="btn-search" class="input-group-btn input-group-append">
            <%= f.submit "検索", class:"btn btn-primary"%>
          </span>
        </div>
      <% end %>
    </div>
    <table class="table  table-bordered table-condensed bg-white">
      <thead>
        <tr>
          <th>投稿ID</th>
          <th>投稿者名</th>
          <th>タイトル</th>
          <th>ジャンル  </th>
        </tr>
      </thead>
      <% @post_recipes.each do |post_recipe| %>
          <tbody>
            <tr>
              <td><%= post_recipe.id %></td>
              <td>
                <%= link_to admin_user_path(post_recipe.user.id) do %>
                  <%= post_recipe.user.name %>
                <% end %>
              </td>
              <td>
                <%= link_to admin_post_recipe_path(post_recipe.id) do %>
                  <%= post_recipe.title %>
                <% end %>
              </td>
              <td><%= post_recipe.genre.name %></td>
            </tr>
          </tbody>
      <% end %>
    </table>
  </div>
</div>