<div class="row">
  <div class="col-12  col-sm-12  col-md-10 col-lg-10 offset-md-1">
    <h2><%= @user.name %>のページ</h2>
    <p id="notice" class="text-success"><%= flash[:notice] %></p>
    <div class="mypage_img"><%= attachment_image_tag @user, :account_image, fallback: "no_image.jpg", size: "100x100"%></div>
    <table class="table table-bordered table-condensed">
      <tr>
        <th>名前</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>自己紹介文</th>
        <td><%= @user.introduction %></td>
      </tr>
    </table>
    <div class="form_group">
      <%= link_to "編集する", edit_admin_user_path(@user), class:"btn btn-primary" %>
    </div>
  </div>
</div>

<div class="row">
 <%= render 'post_recipes/post_recipes', post_recipes: @post_recipes %>
</div>