<!DOCTYPE html>
<html>
  <head>
    <title>RecipeLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body class="d-flex flex-column  slide1">
    <div  id="wrapper">
      <header class="shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
          <div class="container">
            <a class="navbar-brand p-3" href="/"><%= link_to "recipe_log" , root_path, class: 'nav-link text-light' %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <%= render 'layouts/header' %>
            </div>
          </div>
        </nav>
      </header>
      <% if controller.action_name == "top" %>
        <div class="container-fluid">
          <%= yield %>
        </div>
      <% else %>
        <div class="container">
          <%= yield %>
        </div>
      <% end %>
      <footer class="bg-info">
        <p>CopyRight</p>
      </footer>
    </div>
  </body>
</html>
